<h1>Login: </h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %>
  <br>
  <%=f.submit %>
<% end %>

<%= link_to "Sign up", new_user_path %>