<h1>Login: </h1>

<%= form_for login_path do |f| %>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %>
  <br>
  <%=f.submit "Login"%>
<% end %>